body {
    text-align: center;
    background-color: black;
    color: white;
}

.navBar {
    background-color:black;
    color: white;
}

.navBarBrand {
    width: 5%;
    margin-right: 3%;
}

.logo {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    border: 10px solid black;
    box-shadow: 0 10px 15px black;
    width: 20%;
}

.dashLogo {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.title {
    color: white;
}

.enter {
    box-shadow: 0 3px 5px black;
}

.loader {
    background-color: black;
    height: 100vh;
}

.loading-color {
    color: #00BFFF;
}

.custom-container {
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.ml-5px {
    margin-left: 5px;
}

.color-white {
    color: white;
}

.color-white:hover {
    color: white;
    text-decoration: none;
}

.movie-link {
    border:none;
    outline:none;
    text-decoration:none !important;
    color: white;
}

.movie-link:hover {
    text-decoration:none !important;
    color: gray;
}

.poster_url {
    width: 300px;
}

.input-label {
    display: flex;
    justify-content: space-between;
}

.show-link {
    border:none;
    outline:none;
    text-decoration:none !important;
    color: white;
}

.show-link:hover {
    text-decoration:none !important;
    color: gray;
}
