body {
    text-align: center;
}

.custom-container {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.ml-5px {
    margin-left: 5px;
}

.color-white {
    color: white;
}

.color-white:hover {
    color: white;
    text-decoration: none;
}

.movie-link {
    border:none;
    outline:none;
    text-decoration:none !important;
    color: white;
}

.movie-link:hover {
    text-decoration:none !important;
    color: gray;
}

.poster_url {
    width: 300px;
}

.jumbo-size {
    font-size: 500px;
}

.input-label {
    display: flex;
    justify-content: space-between;
}
