body {
    background-color: black;
    color: white;
}

.button {
    margin: 0px 5px 5px 5px;
}

.container {
    text-align: center;
}

.image-box {
    width: 200px;
    height: 100%;
}

.loader {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    border: 10px solid black;
    box-shadow: 0 10px 15px black;
    width: 300px;
}

.movie-add {
    display: flex;
    justify-content: center;
    text-align: center;
}

.movie-buttons {
    margin-top: 10px;
}

.movie-edit {
    display: flex;
    justify-content: center;
    text-align: center;
}

.movie-image {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.movie-info {
    margin-left: 5px;
}

.movie-item {
    background-color: #212529 !important;
    color: white;
    text-decoration: none !important;
    margin: 10px 0px;
    padding: 20px 20px;
    border-radius: 20px !important;
}

.movie-link {
    border:none;
    outline:none;
    text-decoration:none !important;
    color: white;
}

.movie-link:hover {
    text-decoration:none !important;
    color: gray;
}

.movie-list {
    margin: 15px 30px;
}

.movie-show {
    text-align: center;
}

.navBar {
    background-color:black;
    color: white;
    text-align: center;
}

.navBarBrand {
    width: 5%;
}

.navLogo {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.nav-links {
    color: white !important;
}

.poster-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.poster-url {
    width: 300px;
}

.profile {
    margin: 0 auto;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 24px;
    color: white !important;
    text-decoration: none !important;
}

.title:hover {
    color: #046cfb !important;
}

.table {
    margin: 0 auto;
    width: 80%;
}

#logout {
    color: #FF0000;
}

#logout:focus {
    background-color: transparent;
}

#userPicture {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .Table {
        margin: 0 auto;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Table {
        margin: 0 auto;
        width: 90%;
    }
}
